@use '@/styles/index' as *;

.card {
  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-100);
  @include flex(column, center, center, nowrap, 0);
  display: inline-flex;
  padding: 3.3rem 3.6rem;
}
